<div style="background-color: #f8f8f8" class="overflow-hidden container-fluid ">

<app-navbar></app-navbar>
  <div class="d-flex flex-row justify-content-between gap-4 move-to-right text " id="home" style="  width: 80%;margin-top: 8%">
    <div class="  " style="width: 80%">
      <h1 class=" ms-5" style="color: #1b36e7">SafeQuery: Your Shield Against <br><span class=" ms-5 p-2"> Vulnerabilities</span></h1>
      <div class="d-flex flex-column justify-content-center p-3">
        <div class="p-2">
          <p class="text-black">The Website Vulnerability Scanner is a highly-accurate vulnerability scanning solution.
            <br>Quickly detect SQL injection</p>
        </div>
        <button type="button" style="margin-left: 29%; border-color: #8c97bd" class="btn btn-outline-secondary w-25 p-2   mt-4" (click)="goToOtherPage()">
          Start for Free
        </button>
      </div>
    </div>
    <div class="p-2 ">
      <h2 class="text-white-50 "> Little Demo</h2>
      <video width="640" height="360" controls>
        <source src="assets/sample-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>





  <div class="move-to-right me-5 " id="key" style="color: #8c97bd;">
   <div class="">
     <div class="d-flex flex-column">

       <div class="">
         <h3 class="mt-5 mb-5" style="margin-left: 40%">Key Features</h3>
         <div class="d-flex flex-row">
         <div class="p2 ">
           <img  class="mt-2 " data-animation="true" ngSrc="assets/image/gradient-dragon.svg" alt="" height="199" width="198" style="margin-left: 24%"/>
           <h4  class="mt-2" >A powerful Website Scanner for all web applications</h4>
           <p  class="mt-2" >Designed to be both powerful and easy to use, the scanner accommodates the needs of both security teams and<br> application security professionals.</p>
         </div>
           <div class="p2 mx-5 d-flex flex-column">
             <img class="mt-2" ngSrc="assets/image/gradient-radar.svg" alt="" height="199" width="198" style="margin-left: 22%"/>
             <h4 class="p-2">ABuilt by penetration testers</h4>
             <p  class="mt-2"> The team behind the Website Vulnerability Scanner has a proven hands-on experience in penetration testing .</p>
           </div>
             <div class="p2 mx-5" style="">
               <img  class="mt-2" ngSrc="assets/image/gradient-target.svg" alt="" height="199" width="198"style="margin-left: 16%"/>

               <h4  class="mt-2"> Scan JavaScript-heavy websites</h4>
               <p  class="mt-2" >The Website Vulnerability Scanner uses a powerful browser-based crawler to scan code .</p>
             </div>
         </div>
       </div>

     </div>
   </div>



</div>
  <div class=" me-5 p-3  " id="navbarDropdown" style=";background-color: #f6f4fa;backdrop-filter: blur(10%)">
    <section>
      <div class="container py-4">
        <div class="row">
          <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
            <h3 class="text-center">Contact us</h3>
            <form role="form" id="contact-form" method="post" autocomplete="off">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group input-group-dynamic mb-4">
                      <label class="form-label">First Name</label>
                      <input class="form-control" aria-label="First Name..." type="text" >
                    </div>
                  </div>
                  <div class="col-md-6 ps-2">
                    <div class="input-group input-group-dynamic">
                      <label class="form-label">Last Name</label>
                      <input type="text" class="form-control" placeholder="" aria-label="Last Name..." >
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="input-group input-group-dynamic">
                    <label class="form-label">Email Address</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="input-group mb-4 input-group-static">
                  <label>Your message</label>
                  <textarea name="message" class="form-control" id="message" rows="4"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-check form-switch mb-4 d-flex align-items-center">
                      <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault" style="background-color: #6a89f1" checked="">
                      <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-white-50"><u>Terms and Conditions</u></a>.</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn bg-gradient-dark w-100">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


  </div>

    <div class=" me-5 p-3 border-top border-white"  id='contact' style="color: #8c97bd;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="d-flex flex-column align-text-start">
            <h5 >Why SafeQUery</h5>

            <ul class="list-unstyled">
              <li class="nav-item table-hover">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">About Us</a>
              </li>
              <li class="nav-item  table-hover">
              <a class="nav-link" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Freebies

              </a>
            </li><li class="nav-item  table-hover">
              <a class="nav-link" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Premium Tools
              </a>
            </li>
            </ul>
          </div>
        </div>
        <div class="col-5 ">
          <div class="d-flex flex-column">
           <h5 class="">Solutions</h5>
            <ul class="list-unstyled">
            <li class="nav-item  table-hover">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Illustrations

              </a>
            </li> <li class="nav-item  table-hover">
              <a class="nav-link" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Bits & Snippets
              </a>
            </li><li class="nav-item  table-hover">
              <a class="nav-link" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Affiliate Program

              </a>
            </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="d-flex flex-column">
            <h5>Resources</h5>
            <ul class="list-unstyled">
              <li class="nav-item  table-hover">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                  Contact Us

                </a>
              </li> <li class="nav-item  table-hover">
              <a class="nav-link" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Knowledge Center

              </a>
            </li><li class="nav-item  table-hover">
              <a class="nav-link" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
                Custom Development

              </a>
            </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          &copy; 2024 SafeQuery. All rights reserved.
        </div>
      </div>
    </div>

  </div>
</div>
