<div style="background-color: #1f1f1f" class="overflow-hidden container-fluid">
<nav class="navbar navbar-expand " style="padding: inherit;background-color: #151515">
  <div class="container-fluid move-to-right" style="background-color: #151515">
    <a class="navbar-brand p-2" href="#">
      <h1 style="color: #012694">SafeQuery</h1>
    </a>

    <div class="collapse navbar-collapse move-items-to-right" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#" style="color: #8c97bd;">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#" style="color: #8c97bd;">Link</a>
        </li>
        <li class="nav-item mx-3 table-hover">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
            Dropdown
          </a>
        </li>
      </ul>
      <ul class="navbar-nav move-to-right">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary">
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="d-grid  text move-to-right  pt-4" style="background-color: #1f1f1f; display: flex; justify-content: center; align-items: center;width:65%">
    <div class="">
      <h2 class="text-white-50">SafeQuery: Your Shield Against <br><span class="d-flex justify-content-center p-2"> Vulnerabilities</span></h2>
      <div class="d-flex justify-content-center p-3 ">
      <button type="button" class="btn btn-outline-secondary "  (click)="goToOtherPage()" >
        Start for Free
      </button>

      </div>
    </div>
    <div>
      <h2 class="text-white-50"> Little Demo</h2>
      <video width="640" height="360 " controls>
        <source src="assets/sample-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

</div>
