
<nav class="navbar navbar-expand " style=" background-color: transparent;backdrop-filter: blur(15px); box-shadow: 0 0 10px 5px rgba(255,255,255,0.03);">
  <div class="container-fluid " style="background-color: transparent">
    <img  class="mt-2 " data-animation="true" ngSrc="assets/image/gradient-dragon.svg" alt="" height="90" width="90" style="margin-left: 0.2%"/>

    <a class="navbar-brand p-2" href="#">
      <h1 style="color: #012694">SafeQuery</h1>
    </a>

    <div class="collapse navbar-collapse move-items-to-right " id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#" style="color: #8c97bd;">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav  ms-5">
        <li class="nav-item"  >
          <button type="button"  style="margin-left: 1300px" class="btn btn-outline-secondary">
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
