<div id="bg" class=" bg-black bg-body   " style="white-space: nowrap">
<nav class="navbar navbar-expand-sm " style="padding: 0; margin: 0;">
    <div class="container-fluid " style="background-color: #151515;padding: 0;margin: 0 ">
      <a class="navbar-brand" href="#" style="transform:translateX(-1%)">
        <h1 style="color: #012694">SafeQuery</h1>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #8c97bd;" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #8c97bd;" >Link</a>
          </li>
          <li class="nav-item table-hover">


          </li>
        </ul>


      </div>
    </div>

  </nav>



</div>
