<div  class="gap-4 " >
<nav class="navbar navbar-expand fixed-top pos-nav-bar mt-2" style=" background-color: transparent;backdrop-filter: blur(15px); box-shadow: 0 0 10px 5px rgba(255,255,255,0.36);">
  <div class="container-fluid " style="background-color: transparent">
    <img  class="mt-2 " data-animation="true" ngSrc="assets/image/gradient-dragon.svg" alt="" height="90" width="90" style="margin-left: 0.2%"/>

    <a class="navbar-brand p-2" href="#">
      <h1 style="color: #012694">SafeQuery</h1>
    </a>

    <div class="collapse navbar-collapse move-items-to-right   d-flex justify-content-between " id="navbarNav">
      <ul class="navbar-nav mr-auto col-3  d-flex justify-content-between  ">
        <li class="nav-item mx-4  ">
          <a class="nav-link active" aria-current="page" href="#home" style="color: #8c97bd;">Home</a>
        </li>
        <li class="nav-item mx-4 ">
          <a class="nav-link" id='key ' href="#key" style="color: #8c97bd;"> Features
          </a>
        </li>
        <li class="nav-item mx-4 table-hover ">
          <a class="nav-link" href="#contact" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8c97bd;">
            Contact
          </a>
        </li>
      </ul>
      <ul class="navbar-nav  me-3 row-cols-6 ">
        <li class="nav-item"  >
          <button type="button" class="btn btn-outline-secondary">
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
