<div class="d-flex flex-column  position-relative" style="background-color: #fafafa">

  <div class="container    " style=" margin-top: 3.99%; background-color: transparent;border-top: 1px solid">

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree" style="background-color: transparent">

      <mat-tree-node *matTreeNodeDef="let node " matTreeNodeToggle class="nodeClick" (click)="loadData(node)">
        <mat-icon style="color: #8c97bd"> insert_drive_file</mat-icon>
        <span style="color: #8c97bd ;font-size: 17px">{{node.name}}</span>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="nat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle' + node.name">
            <mat-icon class="mat-icon-rtl-mirror" style="color: #8c97bd">
              {{treeControl.isExpanded(node)?'expand_more':'folder'}}
            </mat-icon>
          </button>
          <span style="color: #8c97bd ;font-size: 20px">{{node.name}}</span>
        </div>
        <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet>
          </ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
    <div>
      <form (ngSubmit)="uploadFolder()" class="mt-5" enctype="multipart/form-data">
        <input (change)="onFolderChange($event)" multiple type="file" webkitdirectory/>
        <button type="submit" class="custom-button mt-3" (click)="IterateFolderToTree()">Submit</button>
      </form>


      <div class="mt-5 d-flex flex-column">
        <label class="form-check-label mt-5" style="color: #8c97bd">
          <input type="radio" name="checkboxOption" class="form-check-input"> Java
        </label>
        <label class="form-check-label mt-3" style="color: #8c97bd">
          <input type="radio" name="checkboxOption" class="form-check-input"> Php
        </label>

      </div>
    </div>
  </div>
  <div class="d-flex flex-column   " style="width: 95%; margin-top: 4.02% ;margin-left: 15.4%">
    <div class="d-flex flex-row  ">
      <div class=" col-1  " style="background-color:rgba(182,197,241,0.44);height: 40px;border-top: 1px solid">

        <p class="ms-1">{{ fileName }}</p>


      </div>
      <div class=" col-12 d-flex flex-row " style="background-color:rgb(255,255,255);border: 1px solid">

        <div class="col-1 " style="margin-left: 44.06%">
          <button (click)="CheckSqlInjection()"
                  style=" background-color: rgba(182,197,241,0.44);height:30px;margin-top: 4px "><span class="me-3  "
                                                                                                        style="margin-bottom: 2px">Run</span>
          </button>

        </div>

        <span class="" style="font-size: 25px;border-left: 1px solid;margin-left: 4px">Result</span>+
        <button style=" ;background-color: rgba(182,197,241,0.44);margin-left: 18%;height: 36px"><span class="me-3">Clear</span>
        </button>


      </div>


    </div>

    <div style="background-color: rgba(182,197,241,0.44);height: 756px" class="flex-row d-flex justify-content-start">

      <div class="fixed-size-container">
        <mat-spinner *ngIf="loading" style="color: #7e9aff; margin-left: 40%;" class=""></mat-spinner>

        <div *ngIf="!loading" style="border: none">
          <div class="mt-3 ms-5 code-container">
            <div highlight-js [innerText]="fileContentVariable" [ngClass]="'html'"></div>
          </div>
        </div>


      </div>


      <div class="p-3 me-0 ms-5" style=" border-left: 1px solid;width: 47% ">

        <div *ngIf="!loading" class="p-2 ms-4 mt-4" style="width: 5% ;background-color: transparent">

        </div>
        <div *ngIf="looadinVun" style="color: aliceblue; width: 70%; border-radius: 20px"> {{result}}</div>
      </div>
    </div>
  </div>


</div>

<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/atom-one-dark.min.css"/>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js"></script>
