.container{
  background-color: rgba(24, 24, 24, 0.99);
height: 900px;
 width: 16%;
}
.nodeClick{
  cursor: pointer;

}

.tree-invisible{
  display: none;
}
.tree .mat-nested-tree-node div[role=group]{
  padding-left: 40px;
}
.tree div[role=group]> .mat-tree-node{
  padding-left: 40px;
}

.custom-button {
  background-color: #8c97bd; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none; /* Supprimer la bordure du bouton */
  padding: 10px 20px; /* Ajuster le rembourrage selon vos préférences */
  cursor: pointer; /* Afficher un curseur pointer au survol */
  transition: background-color 0.3s ease; /* Ajouter une transition pour un effet de changement de couleur fluide */


  &:hover {
    background-color: #a6b2d1;
  }
}
