<div class="d-flex " style="background-color: #1f1f1f;width: 100%;transform: translateX(-39.5%)">
  <div class="container flex-row justify-content-start ">

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"  class="tree">

      <mat-tree-node *matTreeNodeDef="let node " matTreeNodeToggle class="nodeClick" (click)="loadData(node)">
        <mat-icon> insert_drive_file</mat-icon>
        <span>{{node.name}}</span>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
        <div class="nat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node)?'expand_more':'folder'}}
            </mat-icon>
          </button>
          <span >{{node.name}}</span>
        </div>
        <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet >
          </ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
    <input type="file" id="filepicker" name="fileList" webkitdirectory multiple />
    <ul id="listing" style="color: #8c97bd"></ul>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" multiple webkitdirectory/>
      <input type="submit"/>
    </form>
    <input type="file" (change)="onFileChange($event)" />

  </div>
  <div class="" style="">
    <mat-spinner *ngIf="loading" style="color: #8c97bd"></mat-spinner>
    <mat-card *ngFor="let res of dataResults ;let i=index">
      <mat-card-title class="p-5 px-5" style="width: 50px"> {{res.name}}</mat-card-title>
      <mat-card-subtitle>{{ getStatus(res.status) }}</mat-card-subtitle>
      <mat-icon (click)="deleteFile(i)" style="color: #151515">delete</mat-icon>
    </mat-card>

  </div>
</div>

