<header>
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar  mt-5" style="background-color: #151515;">
    <div class="position-sticky">
      <div class=" mx-1 mt-5   align-self-start flex-column fixed-top">
        <a href="app/homepage/homepageComponent"  class="list-group-item ">
         <span class="color">Calendar</span>
        </a>

        <div class="form-check list-group-item list-group-item-action py-2 px-4 ripple">
          <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label color" for="inlineRadio1">java</label>
        </div>
        <div class="form-check list-group-item list-group-item-action py-4 px-4 ripple">
          <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label color" for="inlineRadio1">Python</label>
        </div>

      </div>
    </div>
  </nav>
</header>
<script></script>

